@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  width: 100%;
  max-height: 1000vh;
}

#bg-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  width: 100%;
  height: 90px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

nav .logo a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  margin-left: 70px;
  display: flex;
  align-items: center;
  gap: 8px;
}

nav .logo img {
  width: 40px;
  object-fit: cover;
}

nav .hamburger-menu {
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
  margin-right: 70px;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-weight: 500;
  color: rgb(26, 26, 26);
}

nav ul li a::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 2px solid rgb(26, 26, 26);
  transition: 0.2s linear;
  border-radius: 5px;
  transform: scaleX(0);
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

section .container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.container .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.left img {
  width: 700px;
}

.container .right {
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .colm {
  width: 90%;
}

.right .colm h1 {
  font-size: 60px;
  color: white;
  font-weight: 600;
  line-height: 70px;
}

.right .colm h1 span {
  color: #00e6b0;
}

.right .colm .desk {
  display: flex;
  color: white;
  margin-top: 50px;
}

.right .colm .desk div:nth-child(1) {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.right .colm .desk div:nth-child(1) p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right .colm .desk div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.right .colm .desk div {
  gap: 15px;
  font-size: 17px;
}

.right .colm button {
  margin-top: 50px;
  background: linear-gradient(to right, #1fd0aa 0%, #00b2c8 52%, #19b2cf 100%);
  width: 255px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid #1bf9d4;
  box-shadow: 0px 16px 20px #61008f96;
  transform: scale(1);
  transition: 0.2s;
  font-size: 16px;
}

.right .colm button:hover {
  transform: scale(1.02);
}

.right form {
  display: none;
}

@media screen and (max-width: 576px) {
  body {
    overflow-y: auto;
  }

  #bg-svg {
    height: 105vh;
  }

  nav {
    height: 80px;
  }

  nav ul {
    opacity: 0;
    transform: translateY(0);
    z-index: -1;
    transition: .2s;
    background-color: rgba(187, 187, 187, 0.507);
    backdrop-filter: blur(2px);
    border-radius: 5px; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: -50px;
    top: 40px;
  }
  
  nav ul.show {
    transform: translateY(25px);
    opacity: 1;
    z-index: 1;
  }

  nav ul li {
    background-color:transparent;
    padding: 2px 5px;
    transition: .2s;
    
  }

  nav ul li:hover {
    background-color: rgba(128, 128, 128, 0.322);
    padding: 2px 5px;
  }

  nav ul li a::after {
    content: "";
    display: none;
  }

  nav .logo a {
    font-size: 20px;
    margin-left: 15px;
  }

  nav .logo img {
    width: 35px;
  }

  nav .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 40px;
    height: 35px;
    cursor: pointer;
    margin-right: 15px;
    z-index: 1;
  }

  .hamburger-menu span {
    z-index: -1;
    display: block;
    transition: 0.2s;
    width: 27px;
    height: 3px;
    border-radius: 2px;
    background-color: rgb(255, 60, 60);
  }

  .hamburger-active > span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: top left;
    background-color: #61008f96;
  }

  .hamburger-active > span:nth-child(2) {
    transform: scale(0);
  }

  .hamburger-active > span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: bottom left;
    background-color: #61008f96;
  }

  section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 50px 0;
    gap: 20px;
  }

  .container .left {
    width: 100%;
    overflow: hidden;
  }

  .left img {
    width: 500px;
  }

  .container .right {
    width: 95%;
  }

  .right .colm h1 {
    font-size: 50px;
  }

  .right .colm button {
    width: 230px;
  }
}
