@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  width: 100%;
  max-height: 1000vh;
}

#bg-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  width: 100%;
  height: 90px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

nav .logo a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  margin-left: 70px;
  display: flex;
  align-items: center;
  gap: 8px;
}

nav .logo a img {
  width: 40px;
  object-fit: cover;
}

nav .hamburger-menu {
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
  margin-right: 70px;
}

nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(26, 26, 26);
}

section .container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.container .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.left img {
  width: 700px;
}

.container .right {
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .colm {
  width: 90%;
}

.right .colm h1 {
  font-size: 60px;
  color: white;
  font-weight: 600;
  line-height: 70px;
}

.right .colm h1 span {
  color: #00E6B0;
}

.right .colm .desk {
  display: flex;
  color: white;
  margin-top: 50px;
}

.right .colm .desk div:nth-child(1) {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.right .colm .desk div:nth-child(1) p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right .colm .desk div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.right .colm .desk div {
  gap: 15px;
  font-size: 17px;
}

.right .colm  a {
  margin-top: 50px;
  background: linear-gradient(to right, #1FD0AA 0%, #00B2C8 52%, #19B2CF 100%);
  width: 250px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid #1BF9D4;
  box-shadow: 0px 16px 20px #61008F96;
  transform: scale(1);
  transition: 0.2s;
}

.right .colm a:hover {
  transform: scale(1.02);
}

.right form {
  display: none;
}

@media screen and (max-width: 576px) {
  body {
    overflow-y: auto; 
  }

  nav {
    height: 100px;
  }

  nav .logo a {
    margin-left: 15px;
  }

  nav .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 40px;
    height: 35px;
    cursor: pointer;
    margin-right: 8px;
    z-index: 1;
  }

  .hamburger-menu span {
    z-index: -1;
    display: block;
    transition: 0.2s;
    width: 27px;
    height: 3px;
    border-radius: 2px;
    background-color: red;
  }

  .hamburger-active > span:nth-child(1) {
    margin-left: 10px;
    transform: rotate(45deg);
    transform-origin: top left;
    background-color: red;
  }

  .hamburger-active > span:nth-child(2) {
    margin-left: 10px;
    transform: scale(0);
  }

  .hamburger-active > span:nth-child(3) {
    margin-left: 10px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    background-color: red;
  }

  nav ul {
    display: none;
  }

  section {
    overflow-y: auto;
  }

  section .container {
    display: inline-block;
    
  }

  /* section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 50px 0;
    gap: 20px;
  } */

  .container .left {
    width: 100%;
    overflow: hidden;
  }

  .left img {
    width: 600px;
  }

  .container .right {
    width: 95%;
    padding-bottom: 50px;
  }
}
